<h1>All Questions</h1>

<% @questions.each do |question| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <% if question.resolved %>
          <p><%= link_to "RESOLVED - #{question.title}", question %></p>
        <% else %>
          <p><%= link_to "#{question.title}", question %></p>
        <% end %>
      </h4>
    </div>
  </div>
<% end %>
