<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <h4>Guidelines for Topics</h4>
    <ul>
      <li>Don't name the topic. Understand it, deep down in your heart, and the topic will name itself.</li>
      <li>Topics should be topical. No one cares about anything that happened before 5 minutes ago.</li>
      <li>Ignore the above rule. All topics should be <em>StarTropics</em>.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>
