<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path, class: "btn btn-success" %> or
    <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Non-judgmental</h2>
    <p>Unlike some other sites, Bloccit knows what you've done. And it forgives you.</p>
  </div>
  <div class="col-md-4">
    <h2>Self-sustaining</h2>
    <p>Bloccit feeds on the garbage it creates. An Ouroboros for the modern world.</p>
  </div>
  <div class="col-md-4">
    <h2>Improves your appearance</h2>
    <p>Bloccit cuts and styles your hair while you're sleeping.</p>
  </div>
</div>
